*{
    margin: 0;
    padding: 0;
    
}

#titulo {
    margin: 1%;
    user-select: none;
}

strong {
    color: #BF4E6D
}


#proceso{
    background-color: #4F5873;
    border-radius: 1rem;
    color: white;
    
}

#subtitulo {
    color: white;
    user-select: none;
    padding: 5%;
}

.crear{
    background-color: white;
    border-radius: 15px;
    height: 100%;
    
}

#subtit {
    color:black;
    margin: 0%;
    padding: 5%;
    font-weight: bold;  

}